@media only screen and (max-width: 900px) {
    #header-section .container {
        width: 80%;
    }

    #promo .container {
        width: 100%;
    }

    #benefits .container {
        width: 90%;
    }
}

@media only screen and (max-width: 760px) {
    #promo .posts {
        grid-column: span 3;
    }

    #features .feat {
        grid-column: span 3;
    }

    #promo h3 {
        width: 90%;
    }

    #clients .container {
        grid-template-columns: repeat(4, 1fr);
    }

    #clients img {
        grid-column: span 2;
    }

    #support .container img {
        grid-column: span 4;
    }
}

@media only screen and (max-width: 570px) {
    #header-section .container {
        width: 100%;
    }
}